[Unit]
Description=Preinstall configured Flatpak applications
Documentation=man:flatpak(1)
Wants=network-online.target
After=network-online.target dbus.service
ConditionPathExists=/usr/share/flatpak/preinstall.d/10-flathub.preinstall
ConditionPathExists=!/var/lib/.flatpak-preinstall-success

[Service]
Type=oneshot
Restart=on-failure
RestartSec=5min
ExecStart=/usr/bin/flatpak preinstall --system --noninteractive -y
ExecStartPost=/usr/bin/touch /var/lib/.flatpak-preinstall-success

[Install]
WantedBy=multi-user.target
