[Unit]
Description=Preinstall Flatpaks
After=network-online.target
Wants=network-online.target
ConditionPathExists=/usr/bin/flatpak
Documentation=man:flatpak-install(1)
StartLimitIntervalSec=600
StartLimitBurst=3

[Service]
Type=oneshot
ExecStart=/usr/bin/flatpak install --system --noninteractive -y flathub @FLATPAK_REFS@
RemainAfterExit=true
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
