[Unit]
Description=Bind mount /var/nix to /nix
DefaultDependencies=no
Requires=systemd-tmpfiles-setup.service
After=local-fs-pre.target systemd-tmpfiles-setup.service
Before=local-fs.target

[Mount]
What=/var/nix
Where=/nix
Type=none
Options=bind

[Install]
WantedBy=local-fs.target
