[Unit]
Description=Apply Home Manager configuration
ConditionPathExists=/usr/bin/nix
StartLimitIntervalSec=600
StartLimitBurst=3

[Service]
Type=oneshot
Environment=HOME_MANAGER_CONFIG_URL=git@github.com:jlzhjp/dotfiles.git
ExecStart=/usr/libexec/apply-home-manager-configuration
Restart=on-failure
RestartSec=30

[Install]
WantedBy=default.target
